@charset "utf-8";
/* 스타일 초기화 */
/* html { font-size: 62.5%; } 반응형폰트크기 설정 62.5% = 10px */

/* 요소 여백 초기화  */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* 하이퍼링크 설정 */
a { color: #000; text-decoration: none; }

/* 목록 불릿 없애기 */
ol, ul { list-style: none; }

/* 테이블 - 마크업에 'cellspacing="0"' 지정 함께 필요 */
table { border-collapse: collapse; border-spacing: 0; border: 0 none; width: 100%; }

/* 텍스트 관련 요소 초기화 */
address, caption, em { font-weight: normal; font-style: normal; }

/* 웹브라우저에서 안보이게  */
caption, legend, hr { display: none; }

/* 테두리 없애기 */ /* img 빼고 폼 영역 */
fieldset, img, input, select, textarea { border: 0 none; outline: none; } 

/* 수직정렬 */ /* 미묘하게 안맞는 칸 정렬맞추기 */
input, select, textarea { vertical-align: middle; }

/* line-height 없애기 */
img { vertical-align: top; }

body { -ms-overflow-style: none; font-family: 'Oswald', 'Noto Sans KR', sans-serif;color: #000;background:  #fff;line-height: 1.5;font-size: 100%;}
body::-webkit-scrollbar {display: none;}


/* header */
#header  { background: rgba(0, 0, 0, 0.5); position: fixed;left: 0;top:0;width: 100%; z-index: 9; transition: all 1s; } 
#header .inner {max-width: 1400px; margin: 0 auto; height: 80px;display: flex; justify-content: flex-end;
align-items: center; position: relative;}

#header h1 {position: absolute; left: 50%; transform:  translateX(-50%);}
#header h1 img { opacity: 1; width: 200px;}

#header .contact_btn { opacity: 0.5; color: #FFF; font-family: HCR Batang Ext;font-size: 30px; font-style: normal; font-weight: 400;line-height: normal;letter-spacing: -0.6px; cursor: pointer;}

#header .top_point {width: 100%; height: 30px; position: absolute; left: 0; bottom: -20px;}
#header.up { transform: translateY(-80px); }


section:not(#sec3) {padding-bottom: 200px;}
/* sec1 */
#sec1 {padding-top: 80px;}
#sec1 .rabbit .photo {position: relative; display: flex; flex-wrap: nowrap;}
#sec1 .rabbit .photo:after {width:100%; height: 100%; transition: opacity 1s; opacity: 0; background: url(../img/sub/rabbit_in1.png) no-repeat center rgba(0, 0, 0, 0.5); display: block; position: absolute; left: 0;top: 0; content: '';}
#sec1 .rabbit .photo:hover:after {opacity: 1;}

/* sec2 */
#sec2 .rael_rabbit .photo {position: relative; display: flex; flex-wrap: nowrap;}
#sec2 .rael_rabbit .photo:after {width:100%; height: 100%; transition: opacity 1s; opacity: 0; background: url(../img/sub/real_rabbit_in.png) no-repeat center rgba(0, 0, 0, 0.5); display: block; position: absolute; left: 0;top: 0; content: '';}
#sec2 .rael_rabbit .photo:hover:after {opacity: 1;}

/* sec3 */
#sec3 {padding-bottom: 80px;}
#sec3 .hand .photo {position: relative; display: flex; flex-wrap: nowrap;}
#sec3 .hand .photo:after {width:100%; height: 100%; transition: opacity 1s; opacity: 0; background: url(../img/sub/hand_in.jpg) no-repeat center rgba(0, 0, 0, 0.5); display: block; position: absolute; left: 0;top: 0; content: '';}
#sec3 .hand .photo:hover:after {opacity: 1;}